* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	background-color: aquamarine;
	line-height: 1.5;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container p {
	display: flex;
	font-size: 2.5rem;
	white-space: pre-wrap;
	text-align: center;
	flex-direction: column;
}
.container-intro {
	/* border: 0.5rem solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-header {
	align-items: center;
	font-size: 5rem;
	margin: 1rem 0 0 2.5rem;
	padding-bottom: 4rem;
}
.timer {
	right: 1rem;
	top: 1rem;
	position: absolute;
	font-size: 1.75rem;
	align-self: center;
	border: 0.25rem solid black;
	background-color: white;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

#take-quiz {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
	background-color: red;
	font-size: 3rem;
}

#question {
	font-size: 2.75rem;
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
	align-items: center;
	/* text-decoration: underline; */
}
.container-answers {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1.5rem;
}

.hiddenbutton {
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: black;
	border: 2px solid #555555;
	cursor: pointer;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.6rem;
	margin: 4px 2px;
}

.container-questions {
	display: flex;
	justify-content: center;
	margin-top: 7.5rem;
}

#endScore {
	font-size: 2.25rem;
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
}

#highScores {
	font-size: 2.25rem;
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
	list-style-type: none;
}
